@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
carusel */

.item {
  min-height: 30rem;
 min-width: 30rem;

  pointer-events: none;
}



.inner-carousel {
  display: flex;


}

.carousel {
  cursor: grab;
  overflow: hidden;
}

