@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
carusel */

.item {
  min-height: 30rem;
 min-width: 30rem;
  padding: 40px;
  pointer-events: none;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.inner-carousel {
  display: flex;

}

.carousel {
  cursor: grab;
  overflow: hidden;
}


